{% extends '/layout/base.html' %}

{% block content %}
<h1 class="text-center">Lập danh sách lớp</h1>

<div class="container">
    <form class="mt-2">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-3">
                <label for="nienKhoa">Niên khoá:</label>
                <select class="form-select" id="nienKhoa">
                    <option value="">-- Niên khoá --</option>
                    {% for id, nk in nien_khoa %}
                    <option value="{{ id }}">{{ nk }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-3">
                <label for="khoi">Khối:</label>
                <select class="form-select" id="khoi" onchange="addLopToDropdown()">
                    <option value="">-- Chọn khối --</option>
                    {% for k in khoi %}
                    <option value="{{ k.value }}">Khối {{ k.value }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-3">
                <label for="lop">Lớp:</label>
                <select class="form-select" id="lop" onchange="changeTitleTable()">
                    <option value="">-- Chọn lớp --</option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="siso">Sĩ số:</label>
                <input type="text" class="form-control" id="siso">
            </div>
        </div>
    </form>
    <div id="title" class="mt-3">

    </div>
    <table class="table">
        <thead>
        <tr>
            <th>STT</th>
            <th>Họ tên</th>
            <th>Giới tính</th>
            <th>Ngày sinh</th>
            <th>Địa chỉ</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>Phạm Chí Hào</td>
            <td>Nam</td>
            <td>14/04/2004</td>
            <td>An Giang</td>
        </tr>
        </tbody>
    </table>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button" class="btn btn-primary btn-danger me-md-2">Hủy bỏ</button>
        <button type="button" class="btn btn-success">Xác nhận</button>
    </div>
</div>
<a href="{{ url_for('index') }}">Quay lại trang chủ</a>


{% endblock %}