{% extends '/layout/base.html' %}

{% block content %}
<h1 class="text-center">Lập danh sách lớp</h1>

<div class="container">
    <form class="mt-2">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-3">
                <label for="khoi">Khối:</label>
                <select class="form-select" id="khoi">
                    <option value="">-- Chọn khối --</option>
                    {% for k in khoi %}
                    <option value="{{ k.name }}">Khối {{ k.value }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-3">
                <label for="lop">Lớp:</label>
                <select class="form-select" id="lop">
                    <option value="">-- Chọn lớp --</option>
                    {% for lop in danh_sach_lop %}
                    <option value="{{ lop.id }}">{{ lop.ten_lop }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-3">
                <label for="siso">Sĩ số:</label>
                <input type="number" class="form-control" id="siso">
            </div>
        </div>
    </form>
    <h3 class="text-center">Danh sách học sinh lớp 10A1</h3>
    <table class="table">
        <thead>
        <tr>
            <th>STT</th>
            <th>Họ tên</th>
            <th>Giới tính</th>
            <th>Ngày sinh</th>
            <th>Địa chỉ</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>Phạm Chí Hào</td>
            <td>Nam</td>
            <td>14/04/2004</td>
            <td>An Giang</td>
        </tr>
        </tbody>
    </table>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button" class="btn btn-primary btn-danger me-md-2">Hủy bỏ</button>
        <button type="button" class="btn btn-success">Xác nhận</button>
    </div>
</div>
<a href="{{ url_for('index') }}">Quay lại trang chủ</a>


{% endblock %}