{% extends '/layout/base.html' %}

{% block content %}
<h1 class="text-center">Lập danh sách lớp</h1>

<div class="container">
    <form class="mt-2">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-3">
                <label for="namHoc">Năm học:</label>
                <select class="form-select" id="namHoc">
                    <option value="">-- Chọn năm --</option>
                    {% for nh in nam_hoc %}
                    <option value="{{ nh }}">{{ nh }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-3">
                <label for="khoi">Khối:</label>
                <select class="form-select" id="khoi" onchange="loadHocsinh()">
                    <option value="">-- Chọn khối --</option>
                    {% for k in khoi %}
                    <option value="{{ k.name }}">{{ k.value }}</option>
                    {% endfor %}
                </select>

                <!-- Bỏ onchange của select lớp vì không cần nữa -->

            </div>
<!--            <div class="col-md-3">-->
<!--                <label for="lop">Lớp:</label>-->
<!--                <select class="form-select" id="lop">-->
<!--                    <option value="">&#45;&#45; Chọn lớp &#45;&#45;</option>-->
<!--                </select>-->
<!--            </div>-->
<!--            <div class="col-md-3">-->
<!--                <label for="siso">Sĩ số:</label>-->
<!--                <input type="number" class="form-control" id="siso">-->
<!--            </div>-->
        </div>
    </form>
    <div id="title">

    </div>
    <table class="table table-striped" id="hocsinh_table">
        <thead>
        <tr>
            <th>STT</th>
            <th>Họ Tên</th>
            <th>Giới tính</th>
            <th>Năm sinh</th>
            <th>Địa chỉ</th>
            <th>Lớp</th>
        </tr>
        </thead>
        <tbody id="hocsinh_body">
        <!-- Dữ liệu học sinh sẽ được đổ vào đây -->
        </tbody>
    </table>
<!--js xử lý-->
<!--    <div class="d-grid gap-2 d-md-flex justify-content-md-end">-->
<!--        <button type="button" class="btn btn-primary btn-danger me-md-2">Hủy bỏ</button>-->
<!--        <button type="button" id="submit-button" class="btn btn-success" onclick="changeLopOfHocSinh()">Xác nhận-->
<!--        </button>-->
<!--    </div>-->
</div>
<a href="{{ url_for('index') }}">Quay lại trang chủ</a>


{% endblock %}