{% extends '/layout/base.html' %}

{% block content %}
<div class="bg-subtle">
    <h1 class="text-center mb-1 mt-3">Tiếp nhận học sinh mới</h1>
    <div class="d-flex justify-content-center align-items-center mt-4">
        {% if message %}
        <div class="alert alert-info text-center" role="alert" style="width: 50%;">
            {{ message }}
        </div>
        {% endif %}
    </div>


    <form method="post" action="/addstudents">
        <div class="d-flex justify-content-center align-items-center min-vh-100">
            <!-- Bao bọc form trong một hộp có viền -->
            <div class="card p-4" style="width: 80%; max-width: 600px;">
                <form class="row g-3">
                    <div class="col-md-12 mt-3">
                        <!-- Nhập tên -->
                        <div class="col-md-12">
                            <label for="inputName" class="form-label">Họ và Tên</label>
                            <input type="text" name="ho_ten" class="form-control" id="inputName"
                                   placeholder="Nguyễn Văn A" required>
                        </div>
                        <!-- Giới tính -->
                        <div class="col-md-12 mt-2">
                            <label for="inputGender" class="form-label">Giới tính</label>
                            <select class="form-select" name="gioi_tinh" id="inputGender" required>
                                <option value="NAM">Nam</option>
                                <option value="NU">Nữ</option>
                            </select>
                        </div>
                        <!-- Địa chỉ -->
                        <div class="col-md-12 mt-2">
                            <label for="inputAddress" class="form-label">Địa Chỉ</label>
                            <input type="text" name="dia_chi" class="form-control" id="inputAddress"
                                   placeholder="371 Nguyễn Kiệm..."
                                   required>
                        </div>
                        <!-- Ngày sinh -->
                        <div class="col-md-12 mb-3 mt-2">
                            <label for="birthday" class="form-label">Ngày Sinh</label>
                            <input type="date" class="form-control datepicker" id="birthday" name="ngay_sinh"
                                   placeholder="Chọn ngày sinh" required>
                        </div>
                        <!-- Email -->
                        <div class="col-md-12 mb-3 mt-2">
                            <label for="inputEmail" class="form-label">Nhập địa chỉ email</label>
                            <input type="email" name="email" class="form-control" id="inputEmail"
                                   placeholder="name@example.com"
                                   required>
                        </div>
                        <!-- Số điện thoại -->
                        <div class="col-md-12 mb-3 mt-2">
                            <label for="typePhone" class="form-label">Số điện thoại</label>
                            <input type="text" id="typePhone" name="so-dien-thoai" class="form-control"
                                   placeholder="Nhập số điện thoại"
                                   pattern="0\d{9,10}"
                                   title="Số điện thoại phải bắt đầu bằng 0 và có 10-11 chữ số"
                                   required>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between">

                        <div class="col-6 ps-2">
                            <button type="button" class="btn btn-danger  w-100" onclick="resetForm() w-100">Nhập lại
                            </button>
                        </div>
                        <div class="col-6 pe-2 ms-3">
                            <button type="submit" class="btn btn-primary w-100">Thêm Học Sinh</button>
                        </div>


                    </div>

                </form>
            </div>
        </div>
    </form>

    <script>
        function resetForm() {
            document.getElementById('studentForm').reset(); // Reset toàn bộ form
        }
    </script>


</div>

{% endblock %}
