<nav class="navbar navbar-expand-lg bg-primary navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="/">Student Management</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Trang chủ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="#">Tiếp nhận học sinh</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-light" href="#">Lập danh sách</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Học tập
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Nhập điểm</a></li>
                        <li><a class="dropdown-item" href="#">Xuất điểm</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Chỉnh sửa điêm</a></li>
                        <li><a class="dropdown-item" href="#">Xuất báo cáo điểm</a></li>
                    </ul>
                </li>
                <!--Xem thêm tuỳ chọn khác-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Tuỳ chọn
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Sửa quy định</a></li>
                        <li><a class="dropdown-item" href="#">Lập báo cáo</a></li>
                    </ul>
                </li>
                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link text-light" href="/logout">Đăng xuất</a>
                </li>
                {% else%}
                <li class="nav-item">
                    <a class="nav-link text-light" href="/login">Đăng nhập</a>
                </li>
                {% endif %}

            </ul>
            <form class="d-flex align-items-center" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-success" style="width: 150px; height: 50px;" type="button">Đăng nhập</button>

            </form>


        </div>
    </div>
</nav>